body {
    margin: 0;
}

.navbar {
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.bar {
    width: 80%;
    margin: auto;

}

.menu {
    font-family: sfpro;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.FirstPicture{
    height: 100vh;
    background-image: url(https://images.apple.com/v/home/dn/images/heroes/iphone-x/iphone_x_large.jpg);
    background-position: 50% 72% ;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
    text-align: center;
}


